@using cutecms_porto.Areas.CMS.Models.DBModel
@{
    CMSEntities db = new CMSEntities();
    List<MenuItem> menuItems = new List<MenuItem>();
    menuItems.Clear();
    menuItems = ViewBag.ParentMenuItems;
}
@GetTreeView(menuItems, null)

@helper GetTreeView(List<MenuItem> menuItems, short? parentID)
        {
lock (cutecms_porto.Helpers.BaseController.BreadcrumbLock)
{
    for (int index = menuItems.Count() - 1; index >= 0; index--)
    {
        int copyOfIndex = index;
            <li>
                @if (menuItems[copyOfIndex].IsLeaf)
                {
                    <a href="@menuItems[copyOfIndex].Path">@menuItems[copyOfIndex].Name</a>
                }
                else
                {
                    <a href="#">@menuItems[copyOfIndex].Name <b class="@Resources.Resources.MarginDirClass @Resources.Resources.Arrow"></b></a>
                }
            </li>
    }
}
}
