@using cutecms_porto.Areas.Config.Models.DBModel
@using cutecms_porto.Areas.CMS.Models.DBModel
@using System.Threading
@{
    CMSEntities db = new CMSEntities();
    var organizations = (List<Organization>)HttpRuntime.Cache["Organizations"];
    var organization = organizations.Where(o => o.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault();
    IEnumerable<MenuItem> footerMenuItems = db.MenuItems.Include("Status").Include("Menu").Include("Language").Where(m => m.Menu.TenantId.Trim().Equals(Tenant.TenantId) && m.Menu.Code.Trim().Equals("footer-menu") && m.Status.Code.Trim().Equals("published") && m.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).OrderBy(o => o.Ordinal);
}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon">
                <span>@Resources.Resources.KeepInTouch</span>
            </div>
            <div class="col-md-3">
                <div class="newsletter">
                    <h4>@Resources.Resources.Newsletter</h4>
                    <p>@Resources.Resources.SubscriptionMessage</p>

                    @*<div class="alert alert-success hidden" id="newsletterSuccess">
                            <strong>Success!</strong> You've been added to our email list.
                        </div>

                        <div class="alert alert-danger hidden" id="newsletterError"></div>*@
                    @{
                        cutecms_porto.Models.SubscriberViewModel subscriber = new cutecms_porto.Models.SubscriberViewModel();
                    }
                    @{Html.RenderPartial("~/Views/Shared/Subscribe.cshtml", subscriber);}
                </div>
            </div>
            <div class="col-md-3">
                <h4>@Resources.Resources.LatestTweets</h4>
                <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "", "count": 2}'>
                    <p>@Resources.Resources.PleaseWait</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-details">
                    <h4>@Resources.Resources.ContactUs</h4>
                    @if (organization != null)
                    {
                        <ul class="contact">
                            <li><p><i class="fa fa-map-marker"></i> <strong>@Resources.Resources.Address:</strong> @organization.AddressLine1, @organization.City, @organization.Country</p></li>
                            <li><p><i class="fa fa-phone"></i> <strong>@Resources.Resources.Phone:</strong> @organization.Telephone</p></li>
                            <li><p><i class="fa fa-envelope"></i> <strong>@Resources.Resources.Email:</strong> <a href="mailto:@organization.Email">@organization.Email</a></p></li>
                        </ul>
                    }
                </div>
            </div>
            <div class="col-md-2">
                <h4>@Resources.Resources.FollowUs</h4>

                @if (organization != null)
                {
                    <ul class="social-icons">
                        @foreach (var item in organization.SocialNetworks)
                        {
                            <li class="social-icons-@item.Code"><a href="@item.Url" target="_blank" title="@item.Name"><i class="fa @item.CssClass"></i></a></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a href="~/assets/porto/index.html" class="logo">
                        <img alt="CuteCMS.NET" class="img-responsive" src="~/assets/porto/img/footer-logo.png">
                    </a>
                </div>
                <div class="col-md-7">
                    <p>© @DateTime.Now.Year @(organization?.Name) - @Resources.Resources.CopyRights</p>
                </div>
                <div class="col-md-4">
                    <nav id="sub-menu">
                        <ul>
                            @foreach (var item in footerMenuItems)
                            {
                                <li><a href="@item.Path">@item.Name</a></li>
                            }
                            @*<li><a href="~/assets/porto/page-faq.html">FAQ's</a></li>
                                <li><a href="~/assets/porto/sitemap.html">Sitemap</a></li>
                                <li><a href="~/assets/porto/contact-us.html">Contact</a></li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>

