@using Microsoft.AspNet.Identity
@using cutecms_porto.Areas.Identity.Models.DBModel
@using cutecms_porto.Areas.Identity.Models
@using cutecms_porto.Areas.CMS.Models.DBModel
@using System.Threading
@using (Html.BeginForm("LogOff", "Account", new { area = "Identity" }, FormMethod.Post, new { id = "logoutForm", style = "margin:0" }))
{
    string username = null;
    ApplicationDbContext _db = new ApplicationDbContext();
    IdentityEntities identityDb = new IdentityEntities();
    CMSEntities cmdDb = new CMSEntities();
    IEnumerable<MenuItem> menuItems = (HttpRuntime.Cache["MenuItems"] == null ? cmdDb.MenuItems.Include("Menu").Where(m => m.Menu.TenantId.Trim().Equals(Tenant.TenantId) && m.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && m.Menu.Code.Equals("top-menu")) : (IEnumerable<MenuItem>)System.Web.HttpRuntime.Cache["MenuItems"]).Where(m => m.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && m.Menu.Code.Equals("top-menu"));
    if (Request.IsAuthenticated)
    {
        var email = _db.Users.Find(User.Identity.GetUserId()).UserName;
        var userId = User.Identity.GetUserId();
        if (identityDb.Employees.Where(e => e.LoginId.Equals(userId) && e.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault() != null)
        {
            username = identityDb.Employees.Where(e => e.LoginId.Equals(userId) && e.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault().FullName;
        }
        else
        {
            username = email.Substring(0, email.LastIndexOf("@"));
        }
        ViewBag.Username = username;
    }
    @Html.AntiForgeryToken()
    <div id="topBar">
        <div class="container">
            <!-- left -->
            <ul class="top-links list-inline pull-left">
                @if (Request.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink(Resources.Resources.Hello + " " + ViewBag.Username as string + "!", "Index", "MyProfile", null, htmlAttributes: new { @class = "dropdown-toggle no-text-underline" })
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="@Url.Action("Index", "MyProfile")"><i class="fa fa-user"></i> @Resources.Resources.MyProfile</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="@Url.Action("Index", "Manage", new { area="Identity"})"><i class="fa fa-cog"></i> @Resources.Resources.AccountSettings</a></li>
                            <li class="divider"></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a tabindex="-1" href="@Url.Action("Index", "Home", new { area="CMS"})"><i class="fa fa-arrow-circle-left"></i> @Resources.Resources.Backend</a></li>
                                <li class="divider"></li>
                            }
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i>@Resources.Resources.LogOff</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink(Resources.Resources.Register, "Register", "Account", routeValues: new { area = "Identity" }, htmlAttributes: new { id = "registerLink", style = "display:inline" })</li>
                    <li>@Html.ActionLink(Resources.Resources.LogOn, "Login", "Account", routeValues: new { area = "Identity" }, htmlAttributes: new { id = "loginLink", style = "display:inline" })</li>
                }
                <li>
                    <a class="dropdown-toggle no-text-underline" href="#" data-toggle="dropdown"><i class="fa fa-globe fa-1x"></i>@Resources.Resources.LanguageSelector</a>
                    <ul class="dropdown-menu">
                        @foreach (var item in cmdDb.CMSLanguages.Where(l => l.IsEnabled == true).OrderByDescending(l => l.IsDefault).ThenBy(l => l.Ordinal))
                        {
                            <li><a tabindex="-1" href="@Url.RouteUrl(new RouteValueDictionary(ViewContext.RouteData.Values.ToDictionary(r => r.Key, r => r.Key == "culture" ? item.CultureName.Trim() : r.Value)))"><img width="16" height="11" class="flag-lang" alt="lang" src="~/assets/images/flags/@item.Flag"> @item.Name</a></li>
                            <li class="divider"></li>
                        }
                    </ul>
                </li>
            </ul>
            <!-- right -->
            <ul class="top-links list-inline pull-right">
                @foreach (var item in menuItems)
                {
                    <li><a href="@item.Path">@item.Name</a></li>
                }
            </ul>
            @Html.Partial("_SocialButtons")
        </div>
    </div>

}