@using cutecms_porto.Areas.CMS.Models.DBModel
@using System.Threading;
@{
    List<MenuItem> menuItems = ViewBag.Menu;
    menuItems = menuItems.Where(mi => mi.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).ToList();
    int count = menuItems.Count;
}
@if (Thread.CurrentThread.CurrentCulture.Name.Equals("en-US"))
{
    <style>
        .dropdown-menu .edge ul {
            left: auto !important;
            right: 100% !important;
            background: rgba(86, 86, 86, 1) !important;
        }

        #topNav div.submenu-dark ul.dropdown-menu a.dropdown-toggle {
            padding-right: 25px;
        }
    </style>
}
@if (Thread.CurrentThread.CurrentCulture.Name.Equals("ar-JO"))
{
    <style>
        .dropdown-menu .edge ul {
            left: 100% !important;
            right: auto !important;
            background: rgba(86, 86, 86, 1) !important;
        }

        #topNav div.submenu-dark ul.dropdown-menu a.dropdown-toggle {
            padding-left: 25px;
        }
    </style>
}
<div id="header" class="sticky clearfix shadow-after-2">
    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">
            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- BUTTONS -->
            <ul class="pull-right nav nav-pills nav-second-main">

                <!-- SEARCH -->
                @*<li class="search">
                    <a href="javascript:;">
                        <i class="fa fa-search"></i>
                    </a>
                    <div class="search-box">
                        <form action="page-search-result-1.html" method="get">
                            <div class="input-group">
                                <input type="text" name="src" placeholder="Search" class="form-control"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </li>*@
                <!-- /SEARCH -->
            </ul>
            <!-- /BUTTONS -->
            <!-- Logo -->
            <a class="logo pull-left" href="~/@Thread.CurrentThread.CurrentCulture.Name">
                <img src="~/Content/images/psut-logo.png"/>
            </a>
            <!--
                Top Nav

                AVAILABLE CLASSES:
                submenu-dark = dark sub menu
            -->
            <div class="navbar-collapse pull-left nav-main-collapse collapse submenu-dark">
                <nav class="nav-main">
                    <!--
                        NOTE
                        For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                        Direct Link Example:
                        <li>
                            <a href="#">HOME</a>
                        </li>
                    -->
                    <ul id="topMain" class="nav nav-pills nav-main">
                        <li>@Html.ActionLink(Resources.Resources.Home, "Index", "Home")</li>
                        @if (menuItems != null && count > 0)
                        {
                            @GetTreeView(menuItems.Where(mi => mi.Status.Code.Trim().Equals("published") && mi.Menu.Code.Equals("header")).ToList(), null)
                        }
                        <li class="dropdown mega-menu">
                            @helper GetTreeView(List<MenuItem> menuItems, short? parentID)
                            {
foreach (var item in menuItems.Where(mi => mi.ParentId.Equals(parentID)))
{
    var submenu = menuItems.Where(s => s.ParentId.Equals(item.Id)).Count();
    <li class="dropdown mega-menu">
        <!-- PORTFOLIO -->
        @if (item.IsParent)
        {
            <a class="dropdown-toggle" href="#">@item.Name</a>
        }
        <ul class="dropdown-menu">
            <li>
                <div class="row">
                    @foreach (var item2 in item.MenuItems1)
                    {
                        <div class="col-md-5th">
                            <ul class="list-unstyled">
                                @if (item2.IsParent)
                                {
                                    <li><span>@item2.Name</span></li>
                                    foreach (var item3 in item2.MenuItems1)
                                    {
                                        if (item.IsLeaf)
                                        {
                                            <li><a href="@item3.Url">@item3.Name</a></li>
                                        }
                                        if (@item3.IsParent)
                                        {
                                            <li><span>@item3.Name</span></li>
                                            foreach (var item4 in item3.MenuItems1)
                                            {
                                                if (item4.IsLeaf)
                                                {
                                                    <li><a href="@item4.Url">@item4.Name</a></li>
                                                }

                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    }
                </div>
            </li>
        </ul>
    </li>
}
}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- /Top Nav -->
    </div>