@using System.Threading;
@using cutecms_porto.Areas.CMS.Models.DBModel
@{
    CMSEntities db = new CMSEntities();
    var news = db.Contents.Where(c => c.TenantId.Trim().Equals(Tenant.TenantId) && (c.Status.Code.Equals("published") && c.ContentType.Code.Equals("news") && c.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name))).Take(4).OrderByDescending(c => c.PublishedOn);
    List<MenuItem> menuItems = (System.Web.HttpRuntime.Cache["MenuItems"] == null ? db.MenuItems.Include("Menu").Where(m => m.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && m.Menu.Code.Equals("footer")).ToList() : (List<MenuItem>)System.Web.HttpRuntime.Cache["MenuItems"]).Where(m => m.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && m.Menu.Code.Equals("footer")).ToList();
}
<style>
    h4 {
        text-transform: uppercase !important;
    }

    h6 {
        margin: 10px !important;
    }
</style>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Footer Logo -->
                @*<img width="200" height="200" class="footer-logo" src="@OrganizationData.Organization?.LogoPath" alt="" />*@
                <!-- Small Description -->
                @*<p>@OrganizationData.Organization?.Description</p>*@

                <!-- Contact Address -->
                <h4 class="letter-spacing-1">@Resources.Resources.ContactUs</h4>
                <address>
                    <ul class="list-unstyled">
                        <li class="footer-sprite address">
                            @Resources.Resources.POBox @(OrganizationData.Organization?.POBox)<br>
                            @(OrganizationData.Organization?.Street), @(OrganizationData.Organization?.District)<br>
                            @(OrganizationData.Organization?.City) @(OrganizationData.Organization?.PostalCode) @(OrganizationData.Organization?.Country)<br>
                        </li>
                        <li class="footer-sprite phone">
                            @Resources.Resources.Phone: @(OrganizationData.Organization?.Telephone_1)
                        </li>
                        <li class="footer-sprite email">
                            <a href="mailto:@OrganizationData.Organization?.Email">@(OrganizationData.Organization?.Email)</a>
                        </li>
                    </ul>
                </address>
                <!-- /Contact Address -->
            </div>
            <div class="col-md-3">
                <!-- Latest Blog Post -->
                <h4 class="letter-spacing-1">@Resources.Resources.LatestNews</h4>
                <ul class="footer-posts list-unstyled">
                    @if (news != null)
                    {
                        foreach (var item in news)
                        {
                            <li>
                                <a href="@Url.Action("Content", "Pages" , new { area="", slug=@item.UrlSlug })">@item.Title</a>
                                <small>@item.PublishedOn.Value.ToString("dddd, d MMMM, yyyy")</small>
                            </li>
                        }
                    }
                </ul>
                <!-- /Latest Blog Post -->
            </div>
            <div class="col-md-2">
                <!-- Links -->
                <h4 class="letter-spacing-1">@Resources.Resources.ExploreOurSite</h4>
                @foreach (var parentItem in menuItems)
                {
                    <div>
                        <h6>@parentItem.Name</h6>
                        <ul>
                            @foreach (var childItem in parentItem.MenuItems1.Where(i => i.IsParent == false))
                            {
                                <li><a href="@childItem.Path">@childItem.Name</a></li>
                            }
                        </ul>
                    </div>
                }
                <!-- /Links -->
            </div>
            <div class="col-md-4">
                <!-- Newsletter Form -->
                <h4 class="letter-spacing-1">@Resources.Resources.KeepInTouch</h4>
                <p>@Resources.Resources.SubscriptionMessage</p>
                @{
                    cutecms_porto.Models.SubscriberViewModel subscriber = new cutecms_porto.Models.SubscriberViewModel();
                }
                @{Html.RenderPartial("~/Views/Shared/Subscribe.cshtml", subscriber);}
                <!-- /Newsletter Form -->
                <!-- Social Icons -->
                <div class="margin-top-20">
                    <a href="@(OrganizationData.Organization?.FacebookUrl)" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="@(OrganizationData.Organization?.TwitterUrl)" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="@(OrganizationData.Organization?.YouTubeUrl)" class="social-icon social-icon-border social-youtube pull-left" data-toggle="tooltip" data-placement="top" title="YouTube">
                        <i class="icon-youtube"></i>
                        <i class="icon-youtube"></i>
                    </a>
                    <a href="@(OrganizationData.Organization?.GooglePlusUrl)" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>
                    <a href="@(OrganizationData.Organization?.LinkedInUrl)" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>
                    <a href="@(OrganizationData.Organization?.RSS)" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                        <i class="icon-rss"></i>
                        <i class="icon-rss"></i>
                    </a>
                </div>
                <!-- /Social Icons -->
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <ul class="pull-right nomargin list-inline mobile-block">
                <li><a href="#">@Resources.Resources.TOC</a></li>
                <li>&bull;</li>
                <li><a href="#">@Resources.Resources.Privacy</a></li>
            </ul>
            <p><span>&copy; </span>@Resources.Resources.CopyRights @(OrganizationData.Organization?.Name) - @DateTime.Now.Year | @Resources.Resources.PoweredBy <a href="@(OrganizationData.Organization?.DeveloperURL)">@(OrganizationData.Organization?.Developer)</a></p>
        </div>
    </div>
</footer>