@using cutecms_porto.Areas.CMS.Models.DBModel
@using cutecms_porto.Areas.Config.Models.DBModel
@using System.Globalization
@using System.Threading
@{
    CMSEntities db = new CMSEntities();
    IEnumerable<MenuItem> topMenuItems = db.MenuItems.Include("Status").Include("Menu").Include("Language").Where(m => m.Menu.TenantId.Trim().Equals(Tenant.TenantId) && m.Menu.Code.Trim().Equals("top-menu") && m.Status.Code.Trim().Equals("published") && m.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).OrderBy(o => o.Ordinal);
    var organizations = (List<Organization>)HttpRuntime.Cache["Organizations"];
    var organization = organizations.Where(o => o.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault();
    var languages = db.CMSLanguages.Where(l => l.IsEnabled == true).OrderByDescending(l => l.IsDefault).ThenBy(l => l.Ordinal).ToList();
    CultureInfo cultureInfo = Thread.CurrentThread.CurrentCulture;
    RegionInfo regionInfo = new RegionInfo(cultureInfo.LCID);

}
<nav class="header-nav-top" style="margin-left:0px;">
    <ul class="nav nav-pills">
        <li>
            <a href="#" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/assets/porto/img/blank.gif" class="flag flag-@regionInfo.TwoLetterISORegionName.ToLower()" alt="@regionInfo.DisplayName"> @regionInfo.NativeName
                <i class="fa fa-globe"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                @foreach (var item in languages)
            {
                CultureInfo itemCultureInfo = CultureInfo.CreateSpecificCulture(item.CultureName.Trim());
                RegionInfo itemRegionInfo = new RegionInfo(itemCultureInfo.LCID);
                <li><a href="@Url.RouteUrl(new RouteValueDictionary(ViewContext.RouteData.Values.ToDictionary(r => r.Key, r => r.Key == "culture" ? item.CultureName.Trim() : r.Value)))"><img src="~/assets/porto/img/blank.gif" class="flag flag-@item.FlagCode" alt="@itemRegionInfo.NativeName"> @itemRegionInfo.NativeName</a></li>
        }
            </ul>
        </li>
        <li class="hidden-xs">
            <span class="ws-nowrap"><i class="fa fa-phone"></i> @(organization?.Telephone)</span>
        </li>

        @if (CultureHelper.IsRighToLeft())
    {
        foreach (var item in topMenuItems)
        {
            <li class="hidden-xs">
                <a href="@item.Path"><i class="fa fa-angle-left"></i> @item.Name</a>
            </li>
    }
}
else
{
    foreach (var item in topMenuItems)
    {
        <li class="hidden-xs">
            <a href="@item.Path"><i class="fa fa-angle-right"></i> @item.Name</a>
        </li>
}
}

    </ul>
</nav>
@if (organization != null)
{
    <ul class="header-social-icons social-icons hidden-xs">
        @foreach (var item in organization.SocialNetworks.OrderBy(s => s.Ordinal))
        {
            <li class="social-icons-@item.Code"><a href="@item.Url" target="_blank" title="@item.Name"><i class="fa @item.CssClass"></i></a></li>
        }
    </ul>
}