@using cutecms_porto.Areas.Identity.Models
@using cutecms_porto.Areas.Identity.Models.DBModel
@using Microsoft.AspNet.Identity
@using System.Threading
@if (!Request.IsAuthenticated)
{
    <li class="dropdown dropdown-mega dropdown-mega-signin signin pull-right" id="headerAccount">
        <a class="dropdown-toggle" href="#">
            <i class="fa fa-user"></i> @Resources.Resources.LogIn
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="dropdown-mega-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="signin-form">
                                @{Html.RenderPartial("~/Views/Shared/LoginAjax.cshtml", new LoginViewModel());}
                                <p class="sign-up-info">@Resources.Resources.RegisterNewUser <a href="#" id="headerSignUp" class="p-none m-none ml-xs">@Resources.Resources.Register</a></p>
                            </div>
                            <div class="signup-form">
                                @{Html.RenderPartial("~/Views/Shared/RegisterAjax.cshtml", new RegisterViewModel());}
                                <p class="log-in-info">@Resources.Resources.AlreadyMember <a href="#" id="headerSignIn" class="p-none m-none ml-xs">@Resources.Resources.LogIn</a></p>
                            </div>
                            <div class="recover-form">
                                @{Html.RenderPartial("~/Views/Shared/ForgotPasswordAjax.cshtml", new ForgotPasswordViewModel());}
                                <p class="log-in-info">@Resources.Resources.AlreadyMember <a href="#" id="headerRecoverCancel" class="p-none m-none ml-xs">@Resources.Resources.LogIn</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </li>
                                    }
                                    else
                                    {
                                        string username = null;
                                        ApplicationDbContext _db = new ApplicationDbContext();
                                        IdentityEntities identityDb = new IdentityEntities();
                                        var email = _db.Users.Find(User.Identity.GetUserId()).UserName;
                                        var userId = User.Identity.GetUserId();
                                        if (identityDb.Employees.Where(e => e.LoginId.Equals(userId) && e.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault() != null)
                                        {
                                            username = identityDb.Employees.Where(e => e.LoginId.Equals(userId) && e.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault().FullName;
                                        }
                                        else
                                        {
                                            username = email.Substring(0, email.LastIndexOf("@"));
                                        }
                                        <li class="dropdown active pull-right width-100">
                                            @*<a href="#" class="dropdown-toggle">content</a>*@
                                            <a class="dropdown-toggle" href="#">@Resources.Resources.Hello @username!</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index", "MyProfile")"><i class="fa fa-user"></i> @Resources.Resources.MyProfile</a></li>

                                                <li><a href="@Url.Action("Index", "Manage", new { area="Identity"})"><i class="fa fa-cog"></i> @Resources.Resources.AccountSettings</a></li>

                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <li><a href="@Url.Action("Index", "Home", new { area="CMS"})"><i class="fa fa-arrow-circle-left"></i> @Resources.Resources.Backend</a></li>

                                                }
                                                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", style = "margin:0" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i> @Resources.Resources.LogOff</a></li>
                                                }
                                            </ul>

                                        </li>
                                    }