@model cutecms_porto.Areas.Identity.Models.ForgotPasswordViewModel
<p>@Resources.Resources.ForgotPasswordInstructions</p>
<div class="form-group">
    <div class="col-md-12 p-none">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Resources.Resources.Email + "..." })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-none">
        <input type="submit" value="@Resources.Resources.EmailLink" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
    </div>
    <div class="col-md-12 pr-none">
  @*      @Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
    </div>
</div>