@model cutecms_porto.Areas.Identity.Models.ForgotPasswordViewModel
@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions { UpdateTargetId = "ForgotPasswordAjax" }))
{
    @Html.AntiForgeryToken()
    <div class="container max-width-400" id="RegisterAjax">
        <span class="dropdown-mega-sub-title">@Resources.Resources.ForgetPassword</span>
        <p>@Resources.Resources.ForgotPasswordInstructions</p>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 p-none">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Resources.Resources.Email + "..." })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 p-none">
                    <input type="submit" value="@Resources.Resources.EmailLink" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
                </div>
            </div>
        </div>
    </div>
}

