@model cutecms_porto.Areas.Identity.Models.LoginViewModel
@using (Html.BeginForm("Login", "Account", new { returnUrl = Request.Url.AbsolutePath }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="LoginAjax">
        <h4 class="dropdown-mega-sub-title">@Resources.Resources.LoginToSite</h4>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 p-none">
                    @*<label>Username or E-mail Address</label>*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = @Resources.Resources.Email + "..." })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 p-none">
                    <a class="mt-none p-none" id="headerRecover" href="#">(@Resources.Resources.ForgetPassword)</a>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = @Resources.Resources.Password + "..." })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-none">
                <span class="remember-box checkbox">
                    <label for="rememberme">
                        <input type="checkbox" id="rememberme" name="rememberme">@Html.LabelFor(m => m.RememberMe)
                    </label>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 p-none">
                <input type="submit" value="@Resources.Resources.LogIn" class="btn btn-primary mb-xl" data-loading-text="Loading...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-none">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

}


