@model cutecms_porto.Models.SubscriberViewModel
@using (Html.BeginForm("Subscribe", "Home"))
{
    @Html.AntiForgeryToken()
    <div class="input-group">
     
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = @Resources.Resources.EnterYourEmail, @class = "form-control required" } })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">@Resources.Resources.Subscribe!</button>
        </span>
    </div>
    <div class="input-group">
        @Html.ValidationMessageFor(model => model.Email)
    </div>
}