@model cutecms_porto.Areas.CMS.Models.DBModel.Content
@using cutecms_porto.Areas.CMS.Models.DBModel
@using System.Threading
@using cutecms_porto.Areas.Identity.Models
<head>
    @{
        ApplicationDbContext _db = new ApplicationDbContext();
        CMSEntities db = new CMSEntities();
        ViewBag.Title = Model.Title;
        ViewBag.Description = Model.MetaDescription;
        ViewBag.Author = _db.Users.Find(Model.Author).UserName;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/assets/porto/vendor/circle-flip-slideshow/css/component.css">
    <link rel="stylesheet" href="~/assets/porto/vendor/nivo-slider/nivo-slider.css">
    <link rel="stylesheet" href="~/assets/porto/vendor/nivo-slider/default/default.css">
</head>
@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="~/@Thread.CurrentThread.CurrentCulture.Name">@Resources.Resources.Home</a></li>
                        @if (Model.ParentMenuItemId != null)
                        {
                            var menuItemId = db.MenuItems.FirstOrDefault(m => m.ContentId == Model.Id)?.Id;
                            if (menuItemId != null)
                            {
                                ViewBag.ParentMenuItems = BreadcrumbsHelper.GetParentMenuItems(menuItemId);
                                @Html.Partial("_Breadcrumb")
                            }
                        }
                    </ul>
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1><a style="color:white;text-decoration:none" href="@Url.Action("Content", "Pages" , new { slug=Model.UrlSlug })">@Model.Title</a></h1>
                    </div>
                </div>
            </div>

        </div>
    </section>
}
<div class="container text-justify">
    @if (Model.ContentGalleries.Count != 0)
    {
        <div class="row">
            <div class="nivo-slider">
                <div class="slider-wrapper theme-default">
                    <div id="nivoSlider" class="nivoSlider">
                        @foreach (var contentGallery in Model.ContentGalleries.OrderBy(c => c.Ordinal))
                        {
                            var images = contentGallery.Gallery.ImageFiles.Take(5).OrderBy(i => i.Ordinal);
                            foreach (var image in images)
                            {
                                var description = image.ImageFileTerms.Where(p => p.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && p.ImageFileId == image.Id).FirstOrDefault()?.Value ?? db.ImageFiles.Where(i => i.Id == image.Id).FirstOrDefault().Code;
                                <img src="@image.FilePath" data-thumb="@image.ThumbPath" alt="@description" />
                            }
                        }
                    </div>
                    <div id="htmlcaption" class="nivo-html-caption"></div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <p style="color:brown">
                    @if (Model.StartDate == null)
                    {
                        <small><i class="fa fa-clock-o"></i> @Resources.Resources.LastUpdatedOn @Model.ModifiedOn.Value.ToString("dddd, d MMMM, yyyy")</small>
                    }
                    else
                    {
                        <small><i class="fa fa-clock-o"></i> @Resources.Resources.From @Model.StartDate.Value.ToString("dddd, d MMMM, yyyy") @(Model.EndDate == null ? "" : @Resources.Resources.Till + " " + Model.EndDate.Value.ToString("dddd, d MMMM, yyyy")) @(Model.Location == null ? "" : "@ " + Model.Location)</small>
                    }
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.MainContent))
                    <div>
                        @foreach (var contentList in Model.ContentLists.OrderBy(c => c.Ordinal))
                        {
                            string active = "active";
                            int count = 0;
                            if (!contentList.Name.Equals(Model.Title))
                            {
                                <h2>@contentList.Name</h2>
                            }
                            <div class="toggle toggle-quaternary" data-plugin-toggle>

                                @foreach (var item in contentList.ListItems.OrderBy(l => l.Ordinal))
                                {
                                    if (count != 0)
                                    {
                                        active = "";
                                    }
                                    <section class="toggle @active">
                                        <label>@item.Title</label>
                                        <div class="toggle-content">
                                            @Html.Raw(HttpUtility.HtmlDecode(item.Body))

                                            @if (item.Url != null)
                                            {
                                                <label>@Resources.Resources.Website:</label>
                                                <a href="@item.Url" target="_blank">@item.Url</a>
                                            }
                                            @if (item.FilePath != null)
                                            {
                                                <label>@Resources.Resources.Attachments:</label>
                                                <a href="@Url.Content(item.FilePath)">@Resources.Resources.Download @item.Title</a>
                                            }
                                        </div>
                                    </section>
                                    count++;
                                }
                            </div>
                        }
                    </div>
                    @if (User.IsInRole("Admin"))
            {
                        <div>
                            @Html.ActionLink(Resources.Resources.Edit, "Edit", "Contents", new { Area = "CMS", id = Model.Id }, null)
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="post-block post-share">
        <h3 class="heading-primary"><i class="fa fa-share"></i>@Resources.Resources.Share</h3>

        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit"></a>
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
        <!-- AddThis Button END -->
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("table").addClass("table");
        });
    </script>
}