@model cutecms_porto.Areas.CMS.Models.DBModel.GalleryCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GalleryCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.TenantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.TenantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery.TenantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery.TenantId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
