@model cutecms_porto.Areas.Config.Models.DBModel.Contact
@using System.Threading
@{
    ViewBag.MainTitle = Resources.Resources.Contact;
    ViewBag.Title = Resources.Resources.Delete;
}
<h3>@Resources.Resources.DeleteConfirmation</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organization.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonalTitleId)
        </dt>
        <dd>
            @{ var personalTitle = Model.PersonalTitle.PersonalTitleTerms.Where(p => p.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && p.PersonalTitleId == Model.PersonalTitleId).FirstOrDefault()?.Value ?? Model.PersonalTitle.Code;}
            @personalTitle
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd>
            @{ var department = Model.Department.DepartmentTerms.Where(p => p.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && p.DepartmentId == Model.DepartmentId).FirstOrDefault()?.Value ?? Model.Department.Code;}
            @department
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ordinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ordinal)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Resources.Delete class="btn btn-default" /> |
            @Html.ActionLink(Resources.Resources.BackToList, "Index", new { id = ViewBag.OrganizationId })
        </div>
    }
</div>