@model cutecms_porto.Areas.CMS.Models.DBModel.ListItem
@{
    ViewBag.MainTitle = Resources.Resources.ListItem;
    ViewBag.Title = Resources.Resources.Details;
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContentList.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContentList.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Model.Body))
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Resources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Resources.Resources.BackToList, "Index", new {id= Model.ContentListId })
</p>