@model IEnumerable<cutecms_porto.Areas.CMS.Models.ContentsViewModel>
@{
    ViewBag.MainTitle = Resources.Resources.Translations;
    ViewBag.Title = Resources.Resources.Index;
}
<p>
    @Html.ActionLink(Resources.Resources.AddTranslation, "Create", new { id = ViewBag.TranslationId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AbsolutePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayName(Resources.Resources.Status)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <small><a href="@item.AbsolutePath">@item.UrlSlug.Substring(item.UrlSlug.IndexOf('/') + 1)</a></small>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Language)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-2x fa-pencil", @title = Resources.Resources.Edit })
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-2x fa-file-text", @title = Resources.Resources.Details })
                @Html.ActionLink(" ", "Index", "ContentLists", new { id = item.Id }, new { @class = "fa fa-2x fa-list", @title = Resources.Resources.ManageLists })
                @Html.ActionLink(" ", "Index", "ContentGalleries", new { id = item.Id }, new { @class = "fa fa-2x fa-photo", @title = Resources.Resources.Galleries })
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-2x fa-times", @title = Resources.Resources.Delete })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink(Resources.Resources.BackToList, "Index")
</div>