@using PagedList.Mvc
@using PagedList
@model IEnumerable<cutecms_porto.Areas.Identity.Models.DBModel.Employee>
@using cutecms_porto.Areas.Identity.Models;
@{
    ViewBag.MainTitle = Resources.Resources.Employees;
    ViewBag.Title = Resources.Resources.Index;
    ApplicationDbContext _db = new ApplicationDbContext();
}
@using (Html.BeginForm("Index", "Employees", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label(Resources.Resources.Search)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("employeeNameFilter", ViewBag.EmployeeNameFilter as string, new { @class = "form-control", @placeholder = Resources.Resources.Name })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("languageIdFilter", new SelectList(ViewBag.LanguageIdFilter, "Value", "Text"), Resources.Resources.ChooseLanguage, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("employeeTypeIdFilter", new SelectList(ViewBag.EmployeeTypeIdFilter, "Value", "Text"), Resources.Resources.ChooseEmployeeType, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resources.Resources.HasAccount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("hasAccountFilter", (bool)ViewBag.HasAccountFilter, new { @class = "js-switch" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="@Resources.Resources.Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink(Resources.Resources.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonalPhotoPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordinal)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (item.PersonalPhotoPath != null)
            {
                <td>
                    <img height="400" width="100" class="img-responsive" alt="" src="@item.PersonalPhotoPath">
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Language.Name)
            </td>
            @if (_db.Users.Find(item.LoginId) != null)
            {
                <td>
                    @_db.Users.Find(item.LoginId).UserName
                </td>
            }
            else
            {
                <td>
                    <span>@Resources.Resources.NotAvailable</span>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ordinal)
            </td>
            <td>
                @Html.ActionLink(" ", "Translations", new { id = item.TranslationId }, new { @class = "fa  fa-2x fa-globe", @title = Resources.Resources.Translations })
                @Html.ActionLink(" ", "Index", "Publications", new { id = item.Id }, new { @class = "fa fa-2x fa-book", @title = Resources.Resources.Publications })
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-2x fa-pencil", @title = Resources.Resources.Edit })
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-2x fa-file-text", @title = Resources.Resources.Details })
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-2x fa-times", @title = Resources.Resources.Delete })
            </td>
            
        </tr>
    }
</table>
<div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, employeeNameFilter = ViewBag.EmployeeNameFilter, languageIdFilter = ViewBag.LanguageId, employeeTypeIdFilter = ViewBag.EmployeeTypeId, hasAccountFilter = ViewBag.HasAccount }))
</div>
