@using System.Threading
@model cutecms_porto.Models.HomeViewModel
@if (Model != null)
{
    if (Model.HomeGallery.Count != 0)
    {
                <!-- REVOLUTION SLIDER -->
        <div class="slider fullwidthbanner-container roundedcorners margin-bottom-20">
            <!--
                Navigation Styles:
                    data-navigationStyle="" theme default navigation
                    data-navigationStyle="preview1"
                    data-navigationStyle="preview2"
                    data-navigationStyle="preview3"
                    data-navigationStyle="preview4"
                Bottom Shadows
                    data-shadow="1"
                    data-shadow="2"
                    data-shadow="3"
                Slider Height (do not use on fullscreen mode)
                    data-height="300"
                    data-height="350"
                    data-height="400"
                    data-height="450"
                    data-height="500"
                    data-height="550"
                    data-height="600"
                    data-height="650"
                    data-height="700"
                    data-height="750"
                    data-height="800"
            -->
            <div class="fullwidthbanner" data-height="500" data-shadow="3" data-navigationStyle="preview1">
                <ul class="hide">
                    @foreach (var item in Model.HomeGallery)
                    {
                <!-- SLIDE  -->
                        string title = (item.ImageFileTerms.Where(i => i.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && i.ImageFileId == item.Id).FirstOrDefault() != null) ? item.ImageFileTerms.Where(i => i.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && i.ImageFileId == item.Id).FirstOrDefault().Value : string.Empty;
                        string description = (item.ImageFileTerms.Where(i => i.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && i.ImageFileId == item.Id).FirstOrDefault() != null) ? item.ImageFileTerms.Where(i => i.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && i.ImageFileId == item.Id).FirstOrDefault().Description : string.Empty;
                        <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="@item.ThumbPath">
                            <img src="/assets/images/1x1.png" data-lazyload="@item.FilePath" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" />
                            <div class="overlay dark-3"><!-- dark overlay [1 to 9 opacity] --></div>
                            <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                                 data-x="center"
                                 data-y="155"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 10;">
                                @title
                            </div>
                            <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato"
                                 data-x="center"
                                 data-y="245"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1400"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
                                @description
                            </div>
                        </li>
                    }
                </ul>
                <div class="tp-bannertimer"><!-- progress bar --></div>
            </div>
        </div>
                <!-- /REVOLUTION SLIDER -->
    }
}
<!-- Services -->
<section>
    <div class="container">
        <!--
        LTR INFO: box-icon-left or box-icon-right - are the same on LTR
        -->
        <div class="row">
            @if (Model.Contents.Count != 0)
            {
                foreach (var item in Model.Contents.Where(c => c.ContentType.Code.Trim().Equals("static") && c.HasShortcut == true))
                {
                    <div class="col-sm-4">

                        <div class="box-icon box-icon-left">
                            <a class="box-icon-title" href="#">
                                <i class="@item.CssClass"></i>
                                <h2>@item.ShortcutTitle.Trim()</h2>
                            </a>
                            <p class="text-justify">@item.MainContent.StripHtml().Chop(300)</p>
                        </div>
                        <a class="btn btn-reveal btn-default" href="@Url.Action("Content", "Pages", new { slug = @item.UrlSlug })"><i class="fa fa-plus"></i><span>@Resources.Resources.ReadMore</span></a>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- /Services -->
<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url('assets/images/demo/1200x800/34-min.jpg');">
    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>
    <div class="container">
        <div class="text-center">
            <h2 class="size-40 weight-300">تعليم بإمتياز .. لجيل الإنجاز</h2>
            <a class="btn btn-default btn-lg" href="#">الجداول الدراسية والامتحانات <i class="fa fa-angle-left"></i></a>
            &nbsp; أو &nbsp;
            <a class="btn btn-3d btn-blue btn-lg" href="#">جولة تعريفية <i class="fa fa-angle-left"></i></a>
        </div>
    </div>
</section>
<!-- /Parallax -->
<!-- Courses -->
<section>
    <div class="container">
        <div class="row">
            @{
                var media = Model.ListItems.Where(li => li.ContentList.Code.Trim().Equals("services"));
            }
            @if (media.Count() != 0)
            {
                foreach (var item in Model.ListItems)
                {
                    <div class="col-sm-4">
                        <img class="img-responsive" src="@item.ThumbPath" alt="img" />
                        <h3 class="margin-top-10">@item.Title.Trim()</h3>
                        <p>@item.Body.StripHtml().Trim()</p>
                    </div>
                }
            }
        </div>

    </div>
</section>
<!-- /Courses -->
<!-- Testimonials -->
<section class="padding-xxs parallax parallax-1" style="background-image: url(&quot;assets/images/demo/1200x800/34-min.jpg&quot;); background-position: 50% 104px;">
    <div class="overlay dark-3"><!-- dark overlay [1 to 9 opacity] --></div>
    <div class="container">
        <div class="owl-carousel text-center owl-testimonial nomargin" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
            @{
                var successStories = Model.ListItems.Where(li => li.ContentList.Code.Trim().Equals("sucess-stories"));
            }
            <h1>قصص نجاح</h1>
            @if (successStories.Count() != 0)
            {
                foreach (var item in successStories)
                {
                    <div class="testimonial">
                        <figure>
                            <img class="rounded" src="@item.ThumbPath" alt="@item.ThumbName" />
                        </figure>
                        <div class="testimonial-content nopadding">
                            <p class="lead">@item.Body.StripHtml().Trim()</p>
                            <cite>
                                @item.Title.Trim()
                            </cite>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- /Testimonials -->
<!-- Overview -->
<section>
    <div class="container text-justify">

        <div class="row">

            <div class="col-sm-4">
                <h3 class="weight-300"> <span>العمادة </span>في سطور </h3>
                <p>نشئت عمادة القبول والتسجيل بتاريخ 1/11/2015 ,وتعد من أهم العمادات المساندة في الجامعة,والمحرك الفعال في العمل الاكاديمي الفني.وهي بوابة الطالب للجامعة,حيث تعنى بشؤونه منذ قبوله واثناء دراسته وبعد تخرجه.بل تمتد مسؤولياتها لتشمل تطبيق ومتابعة تنفيذ احكام تعليمات منح درجتي البكالوريوس والماجستير والدكتوراة والخطط الدراسية ,وتضم العمادة ثلاثة اقسام هي :</p>

                <ul class="list-unstyled list-icons">
                    <li><i class="fa fa-check"></i> قسم القبول والتسجيل</li>
                    <li><i class="fa fa-check"></i> قسم التبادل الثقافي وشؤون الخريجين</li>
                    <li><i class="fa fa-check"></i> قسم التطوير والدراسات</li>
                </ul>

            </div>
            <div class="col-sm-8">
                <img src="~/assets/images/demo/laptop.png" alt="product image" />
            </div>
        </div>

    </div>
</section>
<!-- /Overview -->
<!-- Reservation -->
<section id="reservation" class="alternate">
    <div class="container">

        <header class="text-center margin-bottom-60 clearfix">
            <h2 class="weight-300 nomargin-bottom">تقديم <strong>طلب التحاق لدرجة البكالوريوس</strong></h2>
        </header>

        <form class="validate" action="php/contact.php" method="post" data-success="Reservation sent! Thank you!" data-toastr-position="bottom-right">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" id="reservation_name" name="reservation_name" class="form-control required" placeholder="@Resources.Resources.Name*">
                </div>

                <div class="col-md-4">
                    <input type="email" id="reservation_email" name="reservation_email" class="form-control required" placeholder="@Resources.Resources.Email*">
                </div>

                <div class="col-md-4">
                    <input type="text" id="reservation_phone" name="reservation_phone" class="form-control required" placeholder="@Resources.Resources.Phone">
                </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <input type="text" id="reservation_date" name="reservation_date" class="form-control datepicker required" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false" placeholder="التاريخ">
                </div>

                <div class="col-md-4">
                    <select id="reservation_course" name="reservation_course" class="form-control required">
                        <option value="" selected="selected">اختر التخصص</option>
                        <option value="Chemical Engineering">Chemical Engineering</option>
                        <option value="Bachelor of Nursing">Bachelor of Nursing</option>
                        <option value="Mental Health">Mental Health</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <input type="text" id="reservation_phone" name="reservation_phone" class="form-control required" placeholder="معدل الثانوية العامة">
                </div>

            </div>

            <button class="btn btn-success" type="submit">ارسال الطلب</button>

        </form>

    </div>
</section>
<!-- /Reservation -->
<!-- Reservation -->
<section id="reservation" class="alternate">
    <div class="container">

        <header class="text-center margin-bottom-60 clearfix">
            <h2 class="weight-300 nomargin-bottom">تقديم <strong>طلب التحاق لدرجة الماجستير ,الدكتوراة</strong></h2>
        </header>

        <form class="validate" action="php/contact.php" method="post" data-success="Reservation sent! Thank you!" data-toastr-position="bottom-right">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" id="reservation_name" name="reservation_name" class="form-control required" placeholder="@Resources.Resources.Name*">
                </div>

                <div class="col-md-4">
                    <input type="email" id="reservation_email" name="reservation_email" class="form-control required" placeholder="@Resources.Resources.Email*">
                </div>

                <div class="col-md-4">
                    <input type="text" id="reservation_phone" name="reservation_phone" class="form-control required" placeholder="@Resources.Resources.Phone">
                </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <input type="text" id="reservation_date" name="reservation_date" class="form-control datepicker required" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false" placeholder="التاريخ">
                </div>

                <div class="col-md-4">
                    <select id="reservation_course" name="reservation_course" class="form-control required">
                        <option value="" selected="selected">اختر التخصص</option>
                        <option value="Chemical Engineering">Chemical Engineering</option>
                        <option value="Bachelor of Nursing">Bachelor of Nursing</option>
                        <option value="Mental Health">Mental Health</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <input type="text" id="reservation_phone" name="reservation_phone" class="form-control required" placeholder="معدل الثانوية العامة">
                </div>

            </div>

            <button class="btn btn-success" type="submit">ارسال الطلب</button>

        </form>

    </div>
</section>
<!-- /Reservation -->
