@model IEnumerable<Content>
@using cutecms_porto.Areas.CMS.Models.DBModel
@using PagedList.Mvc;
@using PagedList;
@using System.Threading
@{
    ViewBag.Title = Resources.Resources.Contents;
}
@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>
}
<section class="justify">
    <div class="container">
        <div class="row">
            <!-- LEFT COLUMNS -->
            <div class="col-md-9 col-sm-9 col-md-push-3 col-sm-push-3"> 
                <!-- SEARCH RESULTS -->
                @if (Model.Count() != 0)
                {
                    foreach (var item in Model)
                    {

                        <div class="row">
                            <h4><a href="@Url.Action("Content", "Pages" , new { slug=@item.UrlSlug })">@Html.Raw(item.Title.HighlightKeyWords(ViewBag.KeywordFilter as string, "yellow", false))</a></h4>
                            <p style="color:brown">
                                @if (item.StartDate == null)
                                {
                                    <small><i class="fa fa-clock-o"></i> @Resources.Resources.LastUpdatedOn @item.ModifiedOn.Value.ToString("dddd, d MMMM, yyyy")</small>
                                }
                                else
                                {
                                    <small><i class="fa fa-clock-o"></i> @Resources.Resources.From @item.StartDate.Value.ToString("dddd, d MMMM, yyyy") @(item.EndDate == null ? "" : @Resources.Resources.Till + " " + item.EndDate.Value.ToString("dddd, d MMMM, yyyy")) @(item.Location == null ? "" : "@ " + item.Location)</small>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <div class="text-justify">
                                <p>
                                    @Html.Raw(item.MainContent.StripHtml().Chop(500).HighlightKeyWords(ViewBag.KeywordFilter as string, "yellow", false))
                                </p>
                                <a class="btn btn-primary btn-xs" href="@Url.Action("Content", "Pages" , new { slug=@item.UrlSlug })"><i class="fa fa-plus"></i><span> @Resources.Resources.ReadMore</span></a>
                            </div>
                        </div>
                        <hr />
                    }
                }
                else
                {
                    <div class="clearfix search-result text-center">
                        <p class="text-danger">@Resources.Resources.NoResult</p>
                        <br />
                        <p><a class="text-blue" href="~/@Thread.CurrentThread.CurrentCulture.Name"><i class="glyphicon glyphicon-menu-left margin-right-10 size-16"></i>@Resources.Resources.BackToHome</a></p>
                    </div>
                }
                <!-- /SEARCH RESULTS -->
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Contents", new { page, keywordFilter = ViewBag.KeywordFilter, contentTypeIdFilter = ViewBag.ContentTypeId, statusIdFilter = ViewBag.StatusId }))
            </div>
            <!-- /LEFT COLUMNS -->
            <!-- RIGHT COLUMNS -->
            <div class="col-md-3 col-sm-3 col-md-pull-9 col-sm-pull-9">
                <h4>@Resources.Resources.Search</h4>
                @using (Html.BeginForm("Contents", "Home", FormMethod.Get))
                {
                    @Html.TextBox("keywordFilter", ViewBag.KeywordFilter as string, new { @class = "form-control", @placeholder = Resources.Resources.Keywords })
                    <label class="size-12 margin-top-10">@Resources.Resources.Category</label>
                    @Html.DropDownList("contentTypeIdFilter", new SelectList(ViewBag.ContentTypeIdFilter, "Value", "Text"), Resources.Resources.ChooseContentType, new { @class = "form-control" })
                    <label class="size-12 margin-top-10">@Resources.Resources.Status</label>
                    @Html.DropDownList("statusIdFilter", new SelectList(ViewBag.StatusIdFilter, "Value", "Text"), Resources.Resources.ChooseStatus, new { @class = "form-control" })
                    <br />
                    <input type="submit" value="@Resources.Resources.Search" class="btn btn-primary form-control" />
                }
            </div>
        </div>
    </div>
    <!-- /RIGHT COLUMNS -->
</section>