@model IEnumerable<cutecms_porto.Areas.CMS.Models.DBModel.ImageFile>
@using System.Threading;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = Resources.Resources.Images;
}
@section Styles{
<link href="~/assets/porto/vendor/blueimp-gallery/css/bootstrap-blueimp-gallery.css" rel="stylesheet" />
}
@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>
}
<section>
    <div class="container">
        @using (Html.BeginForm("ImageFiles", "Home", new { returnUrl = ViewBag.ReturnUrl }))
        {
            Html.Hidden("GalleryId");
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label(Resources.Resources.Search)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownList("TagIdFilter", new SelectList(ViewBag.TagIdFilter, "Value", "Text"), Resources.Resources.ChooseTag, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="@Resources.Resources.Search" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next" style="max-height: 500px; min-height: 400px;"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="links">
            @foreach (var item in Model)
            {
                string description = (item.ImageFileTerms.Where(i => i.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && i.ImageFileId == item.Id).FirstOrDefault() != null) ? item.ImageFileTerms.Where(i => i.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && i.ImageFileId == item.Id).FirstOrDefault().Description : string.Empty;
                <a href="@item.FilePath" title="@description" data-gallery>
                    <img src="@item.ThumbPath" alt="@description" class="img-rounded" style="margin-bottom:7px;" />
                </a>
            }
        </div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("ImageFiles", new { page, tagIdFilter = ViewBag.TagId}))
        <div>
            @Html.ActionLink(Resources.Resources.BackToList, "Galleries")
        </div>
    </div>
</section>
@section Scripts{
<script src="~/assets/porto/vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
}
