@using cutecms_porto.Areas.CMS.Models.DBModel
@using cutecms_porto.Areas.Identity.Models.DBModel
@using cutecms_porto.Areas.Config.Models.DBModel
@using System.Threading
@model cutecms_porto.Models.HomeViewModel
@{
    ViewBag.Title = Resources.Resources.Home;
    CMSEntities cmsDb = new CMSEntities();
    CMSEntities configDb = new CMSEntities();
    IdentityEntities IdentityDb = new IdentityEntities();
    var openingHours = Model.ContentLists.Where(c => c.Code.Trim().Equals("opening-hour")).FirstOrDefault()?.ListItems ?? new List<ListItem>();
    var shortcutContents = Model.Contents.Where(c => c.HasShortcut);
    var partnerList = Model.ContentLists.Where(c => c.Code.Trim().Equals("partner"))?.FirstOrDefault() ?? new ContentList();
    var resourcesList = Model.ContentLists.Where(c => c.Code.Trim().Equals("resource"))?.FirstOrDefault() ?? new ContentList();
    var testimonialList = Model.ContentLists.Where(c => c.Code.Trim().Equals("testimonial"))?.FirstOrDefault() ?? new ContentList();
    IdentityEntities identityDb = new IdentityEntities();
    var organizations = (List<Organization>)HttpRuntime.Cache["Organizations"];
    var organization = organizations.Where(o => o.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name))?.FirstOrDefault() ?? new Organization();
    IEnumerable<MenuItem> footerMenuItems = configDb.MenuItems.Include("Status").Include("Menu").Include("Language").Where(m => m.Menu.TenantId.Trim().Equals(Tenant.TenantId) && m.Menu.Code.Trim().Equals("footer-menu") && m.Status.Code.Trim().Equals("published") && m.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).OrderBy(o => o.Ordinal);
}
@section Styles{
    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/assets/porto/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/assets/porto/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/assets/porto/vendor/rs-plugin/css/navigation.css">
}
<div class="slider-container rev_slider_wrapper" style="height: 650px;">
    <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'navigation': {'bullets': {'enable': true, 'direction': 'vertical', 'h_align': 'right', 'v_align': 'center', 'space': 5}, 'arrows': {'enable': false}}}">
        <ul>
            @foreach (var item in Model.HomeGallery)
            {
                <li data-transition="fade">
                    <img src="@item.FilePath"
                         alt="@(item.ImageFileTerms.Where(it => it.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && it.ImageFileId == item.Id).FirstOrDefault()?.Value ?? item.Code)"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption main-label"
                         data-x="left" data-hoffset="25"
                         data-y="center" data-voffset="-5"
                         data-start="1500"
                         data-whitespace="nowrap"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         style="z-index: 5; font-size: 1.5em; text-transform: uppercase;"
                         data-mask_in="x:0px;y:0px;">@(item.ImageFileTerms.Where(it => it.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && it.ImageFileId == item.Id).FirstOrDefault()?.SecondaryCaption)</div>

                        <div class="tp-caption main-label"
                             data-x="left" data-hoffset="25"
                             data-y="center" data-voffset="-55"
                             data-start="500"
                             style="z-index: 5; text-transform: uppercase; font-size: 52px;"
                             data-transform_in="y:[-300%];opacity:0;s:500;">@(item.ImageFileTerms.Where(it => it.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && it.ImageFileId == item.Id).FirstOrDefault()?.PrimaryCaption)</div>

                            <div class="tp-caption bottom-label"
                                 data-x="left" data-hoffset="25"
                                 data-y="center" data-voffset="40"
                                 data-start="2000"
                                 style="z-index: 5; border-bottom: 1px solid #fff; padding-bottom: 3px;"
                                 data-transform_in="y:[100%];opacity:0;s:500;" style="font-size: 1.2em;">@(item.ImageFileTerms.Where(it => it.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && it.ImageFileId == item.Id).FirstOrDefault()?.TertiaryCaption)</div>
                            </li>
                        }
        </ul>
    </div>
</div>
<section class="section section-no-border">
    <div class="container">
        <div class="row pt-xl">
            <div class="col-md-12">
                <h2 class="font-weight-semibold mb-xs">@Resources.Resources.Departments</h2>
                @*  <p class="lead font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>*@
            </div>
        </div>
        @{var i = 0;}
        @foreach (var item in Model.DepartmentTerms)
        {
            if (i % 3 == 0)
            {
                @:<div class="row mt-lg">
                }
                <div class="col-md-4">
                    <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                        <div class="feature-box-icon">
                            <img src="@item.IconPath" alt="@item.IconName" class="img-responsive" />
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="font-weight-semibold"><a href="@string.Concat(item.AbsolutePath, string.Concat("#", item.Department.Code))" class="text-decoration-none">@item.Value</a></h4>
                        </div>
                    </div>
                </div>
                i++;
                if (i % 3 == 0)
                {
                    @:                </div>
            }
        }
        <div class="row mt-lg pb-xlg">
            <div class="col-md-12 center">
                <a class="btn btn-borders btn-quaternary custom-button text-uppercase mt-lg font-weight-bold" href="@Url.Action("Index","Staff")">@Resources.Resources.ViewMore</a>
            </div>
        </div>
    </div>
</section>
<section class="team">
    <div class="container">
        <div class="row mt-xlg">
            <div class="col-md-12">
                <h2 class="font-weight-semibold m-none">@Resources.Resources.MeetOurTeam</h2>
                @* <p class="lead font-weight-normal">@Resources.Resources.OurSpecialists</p>*@

                <div id="porfolioAjaxBoxMedical" class="ajax-box ajax-box-init mb-lg">

                    <div class="bounce-loader">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>

                    <div class="ajax-box-content" id="porfolioAjaxBoxContentMedical"></div>

                </div>

            </div>
        </div>
        <div class="row mb-xlg">
            <div class="owl-carousel owl-theme nav-bottom rounded-nav pl-xs pr-xs" data-plugin-options="{'items': 4, 'loop': false, 'dots': false, 'nav': true}">
                @foreach (var item in Model.DepartmentTerms)
                {
                    foreach (var empInDept in item.Department.EmpInDepts.OrderBy(d => d.Ordinal))
                    {
                        string personalTitle = empInDept.Employee.PersonalTitle.PersonalTitleTerms.Where(p => p.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault()?.Value ?? empInDept.Employee.PersonalTitle.Code;
                        var employee = identityDb.Employees.Where(e => e.Language.CultureName.Equals(Thread.CurrentThread.CurrentCulture.Name) && e.TranslationId == empInDept.Employee.TranslationId).FirstOrDefault();
                        if (employee != null)
                        {
                            <div class="pr-sm pl-sm">
                                <a href="@Url.Action("MemberProfile", "Staff", new { id = empInDept.Employee.TranslationId })" data-ajax-on-page class="text-decoration-none">
                                    <span class="thumb-info thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                                        <span class="thumb-info-wrapper m-none">
                                            <img alt="@empInDept.Employee.PersonalPhotoName" src="@(!File.Exists(Server.MapPath(employee.PersonalPhotoPath)) ? "/assets/admin/plugins/images/users/user-icon.png" : @employee.PersonalPhotoPath)">
                                        </span>
                                        <span class="thumb-info-caption p-md pt-xlg pb-xlg">
                                            <span class="custom-thumb-info-title">
                                                <span class="custom-thumb-info-type font-weight-light text-md">@empInDept.Department.DepartmentTerms.Where(d => d.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault().Value</span>
                                                <span class="custom-thumb-info-inner font-weight-semibold text-lg">@personalTitle @employee.FullName</span>
                                                @*<i class="icon-arrow-right-circle icons font-weight-semibold text-lg "></i>*@
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>
@if (resourcesList.ListItems.Count > 0)
{
    <section class="section">
        <div class="container">
            <div class="row mt-md">
                <div class="col-md-12">
                    <h2 class="font-weight-semibold m-none">@resourcesList.Title</h2>
                    <p class="lead font-weight-normal">@resourcesList.Subtitle</p>
                </div>
            </div>
            <div class="row">
                @foreach (var item in resourcesList.ListItems)
                {
                    <div class="col-sm-4 col-md-4">
                        <a href="@item.Url" class="text-decoration-none">
                            <span class="thumb-info thumb-info-side-image thumb-info-side-image-custom thumb-info-no-zoom thumb-info-no-zoom thumb-info-side-image-custom-highlight">
                                <span class="thumb-info-side-image-wrapper">
                                    <img alt="" class="img-responsive" src="@item.ThumbPath">
                                </span>
                                <span class="thumb-info-caption">
                                    <span class="thumb-info-caption-text p-xl">
                                        <h4 class="font-weight-semibold mb-xs">@item.Title</h4>
                                        <p>@item.Subtitle</p>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
}
<section class="section section-default">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="recent-posts mb-xl">
                    <h2>@Resources.Resources.LatestNews</h2>
                    <div class="owl-carousel owl-theme mb-none" data-plugin-options='{"items": 1}'>
                        @{var newsIndex = 0; bool newsDivClosed = false; }
                        @foreach (var item in Model.Contents.Where(c => c.ContentType.Code.Trim().Equals("news")).OrderByDescending(c => c.PublishedOn).Take(12))
                {
                    newsDivClosed = false;
                    if (newsIndex % 2 == 0)
                    {
                        @:<div class="row mt-lg">
                }
                <div class="col-md-6">
                    <article>
                        <div class="date">
                            <span class="day">@item.PublishedOn.Value.Day</span>
                            <span class="month">@item.PublishedOn.Value.Month</span>
                        </div>
                        <h4 class="heading-primary"><a href="@Url.Action("Content", "Pages" , new { slug=@item.UrlSlug })">@item.Title</a></h4>
                        <p class="text-justify">@item.MainContent.StripHtml().Chop(120)</p>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Content", "Pages" , new { slug=@item.UrlSlug })"><i class="fa fa-plus"></i><span> @Resources.Resources.ReadMore</span></a>
                    </article>
                </div>
        newsIndex++;
        if (newsIndex % 2 == 0)
        {
            newsDivClosed = true;
            @:        </div>
}
}
                    </div>
                    @if (!newsDivClosed)
            {
                newsDivClosed = true;
                @:            </div>
}

                </div>
            <div class="col-md-6">
                    <div class="recent-posts mb-xl">
                        <h2>@Resources.Resources.LatestEvents</h2>
                        <div class="owl-carousel owl-theme mb-none" data-plugin-options='{"items": 1}'>
                            @{var eventIndex = 0; bool eventDivClosed = false; }
                            @foreach (var item in Model.Contents.Where(c => c.ContentType.Code.Trim().Equals("event")).OrderByDescending(c => c.PublishedOn).Take(12))
                    {
                        eventDivClosed = false;
                        if (eventIndex % 2 == 0)
                        {
                            @:<div class="row mt-lg">
                    }
                    <div class="col-md-6">
                        <article>
                            <div class="date">
                                <span class="day">@(item.StartDate?.Day ?? item.PublishedOn.Value.Day)</span>
                                <span class="month">@(item.StartDate?.Month ?? item.PublishedOn.Value.Month)</span>
                            </div>
                            <h4 class="heading-primary"><a href="@Url.Action("Content", "Pages" , new { slug=@item.UrlSlug })">@item.Title</a></h4>
                            <p class="text-justify">@item.MainContent.StripHtml().Chop(120)</p>
                            <a class="btn btn-primary btn-xs" href="@Url.Action("Content", "Pages" , new { slug=@item.UrlSlug })"><i class="fa fa-plus"></i><span> @Resources.Resources.ReadMore</span></a>
                        </article>
                    </div>
            eventIndex++;
            if (eventIndex % 2 == 0)
            {
                eventDivClosed = true;
                @:            </div>
}
}
                        </div>
                        @if (!eventDivClosed)
                {
                    eventDivClosed = true;
                    @:                </div>
    }
                    </div>
                </div>
           
            </div>
            </div>
            </div>
        </section>
        @if (partnerList.ListItems.Count > 0)
        {
            <section>
                <div class="container">
                    <div class="row mt-md">
                        <div class="col-md-12">
                            <h2 class="font-weight-semibold m-none">@partnerList.Title</h2>
                            <p class="lead font-weight-normal">@partnerList.Subtitle</p>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="owl-carousel owl-theme" data-plugin-options="{'items': 6, 'autoplay': true, 'autoplayTimeout': 3000}">
                            @foreach (var item in partnerList.ListItems)
                            {
                                <div>
                                    <img class="img-responsive" src="@item.ThumbPath" alt="">
                                    @*<p>@item.Title</p>*@
                                </div>
                            }
                            @*<div class="content-grid-item col-sm-4 col-md-2 center">
                                    <img src="~/assets/porto/img/demos/medical/logos/insurance-logo-1.png" class="img-responsive" />
                                </div>*@
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (testimonialList.ListItems.Count > 0)
        {
            <section class="section-secondary">
                <div class="container">
                    <div class="row mt-xlg pt-md mb-xlg pb-md">
                        <div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options="{'items': 1, 'loop': false, 'dots': false}">
                            @foreach (var item in testimonialList.ListItems)
                            {<div>
                                    <div class="col-md-8 col-md-offset-2 pt-xlg">
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                                            <div class="testimonial-quote">“</div>
                                            <blockquote>
                                                <p class="font-weight-light">@item.Subtitle</p>
                                            </blockquote>
                                            <div class="testimonial-author mt-xlg">
                                                <p class="text-uppercase">
                                                    <strong>@item.Title</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
