@using cutecms_porto.Areas.CMS.Models.DBModel;
@model cutecms_porto.Models.HomeViewModel
@{
    ViewBag.Title = Resources.Resources.Home;
    ViewBag.Contents = Model.Contents;
    CMSEntities cmsDb = new CMSEntities();
}
@section Styles{
    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/assets/porto/vendor/circle-flip-slideshow/css/component.css">
    <link rel="stylesheet" href="~/assets/porto/vendor/nivo-slider/nivo-slider.css">
    <link rel="stylesheet" href="~/assets/porto/vendor/nivo-slider/default/default.css">
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="nivo-slider">
                <div class="slider-wrapper theme-default">
                    <div id="nivoSlider" class="nivoSlider">
                        <img src="~/assets/porto/img/slides/slide-1.jpg" data-thumb="img/slides/slide-1.jpg" alt="" />
                        <a href="index.html"><img src="~/assets/porto/img/slides/slide-2.jpg" data-thumb="img/slides/slide-2.jpg" alt="" /></a>
                    </div>
                    <div id="htmlcaption" class="nivo-html-caption"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="home-intro home-intro-compact">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                          @Resources.Resources.Lorem1
                            <span>@Resources.Resources.Lorem2</span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="get-started">
                            <a href="#" class="btn btn-lg btn-primary">@Resources.Resources.GetStarted</a>
                            <div class="learn-more">@Resources.Resources.Or <a href="/">@Resources.Resources.LearnMore</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row center">
        <div class="col-md-12">
            <p class="lead">
                @Resources.Resources.Lorem3
            </p>
        </div>
    </div>

</div>

<div class="container">

    <div class="row">
        <hr class="tall">
    </div>

</div>

<section class="section section-custom-map">
    <section class="section section-default section-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="recent-posts mb-xl">
                        <h2>@Resources.Resources.LatestNews</h2>
                        <div class="row">
                            <div class="owl-carousel owl-theme mb-none" data-plugin-options='{"items": 1}'>
                                <div>
                                    <div class="col-md-6">
                                        <article>
                                            <div class="date">
                                                <span class="day">15</span>
                                                <span class="month">@Resources.Resources.January</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html">@Resources.Resources.LoremTitle</a></h4>
                                            <p>@Resources.Resources.Lorem3</p>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article>
                                            <div class="date">
                                                <span class="day">15</span>
                                                <span class="month">@Resources.Resources.January</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html">@Resources.Resources.LoremTitle</a></h4>
                                            <p>@Resources.Resources.Lorem3</p>
                                        </article>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <article>
                                            <div class="date">
                                                <span class="day">12</span>
                                                <span class="month">Jan</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html">@Resources.Resources.LoremTitle</a></h4>
                                            <p>@Resources.Resources.Lorem3</p>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article>
                                            <div class="date">
                                                <span class="day">11</span>
                                                <span class="month">Jan</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html">@Resources.Resources.LoremTitle</a></h4>
                                            <p>@Resources.Resources.Lorem3</p>
                                        </article>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <article>
                                            <div class="date">
                                                <span class="day">15</span>
                                                <span class="month">Jan</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html">@Resources.Resources.LoremTitle</a></h4>
                                            <p>@Resources.Resources.Lorem3</p>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article>
                                            <div class="date">
                                                <span class="day">15</span>
                                                <span class="month">Jan</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html">@Resources.Resources.LoremTitle</a></h4>
                                            <p>@Resources.Resources.Lorem3</p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>@Resources.Resources.WhatClientsSay</h2>
                    <div class="row">
                        <div class="owl-carousel owl-theme mb-none" data-plugin-options='{"items": 1}'>
                            <div>
                                <div class="col-md-12">
                                    <div class="testimonial testimonial-primary">
                                        <blockquote>
                                            <p>@Resources.Resources.Lorem3</p>
                                        </blockquote>
                                        <div class="testimonial-arrow-down"></div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-author-thumbnail img-thumbnail">
                                                <img src="~/assets/porto/img/clients/client-1.jpg" alt="">
                                            </div>
                                            <p><strong>@Resources.Resources.JohnSmith</strong><span>@Resources.Resources.JobTitleName</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-12">
                                    <div class="testimonial testimonial-primary">
                                        <blockquote>
                                            <p>@Resources.Resources.Lorem3</p>
                                        </blockquote>
                                        <div class="testimonial-arrow-down"></div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-author-thumbnail img-thumbnail">
                                                <img src="~/assets/porto/img/clients/client-1.jpg" alt="">
                                            </div>
                                            <p><strong>@Resources.Resources.JohnSmith</strong><span>@Resources.Resources.JobTitleName</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
