
@{
    ViewBag.Title = @Resources.Resources.ResetPasswordConfirmation;
}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                @Resources.Resources.PasswordReset @Resources.Resources.Please @Html.ActionLink(@Resources.Resources.ClickLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>

