@using cutecms_porto.Areas.CMS.Models.DBModel
@using System.Threading
@{
    ViewBag.Title = Resources.Resources.Error;
    CMSEntities db = new CMSEntities();
    IEnumerable<MenuItem> usefulLinks = db.MenuItems.Include("Status").Include("Menu").Include("Language").Where(m => m.Menu.TenantId.Trim().Equals(Tenant.TenantId) && m.Menu.Code.Trim().Equals("useful-links") && m.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).OrderBy(o => o.Ordinal);

}
@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>500 - @ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>
}
<section class="page-not-found">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <div class="page-not-found-main">
                <h2>500 <i class="fa fa-warning"></i></h2>
                <h3>@Resources.Resources.GenericError</h3>
                <p>@Resources.Resources.ErrorNotification</p>
                <a class="size-20" href="~/@Thread.CurrentThread.CurrentCulture.Name"><i class="glyphicon glyphicon-menu-left"></i>@Resources.Resources.BackToHome</a>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="heading-primary">@Resources.Resources.UsefulLinks</h4>
            <ul class="nav nav-list">
                @foreach (var item in usefulLinks)
                {
                    <li><a href="@item.Path">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>
</section>



