@model IEnumerable<Vacancy>
@using cutecms_porto.Areas.RMS.Models.DBModel
@using System.Threading
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = Resources.Resources.JobAnnouncements;
    RMSEntities db = new RMSEntities();
}
@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>
}
<section class="justify">
    <div class="container">
        <div class="row">
            <!-- LEFT COLUMNS -->
            <div class="col-md-9 col-sm-9 col-md-push-3 col-sm-push-3">
                <div class="toggle toggle-primary" data-plugin-toggle data-plugin-options="{ 'isAccordion': true }">
                    @foreach (var item in Model)
                    {
                        <section class="toggle">
                            <label>@item.Title.Trim() <span class="pull-right mr-md">@item.Available @Resources.Resources.Available</span> </label>
                            <div class="toggle-content">
                                <p><strong>@Resources.Resources.Code:</strong> @item.Code - <strong>@Resources.Resources.Department:</strong> @(item.Department.DepartmentTerms.Where(p => p.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault()?.Value ?? item.Code)</p>
                                <p>@Html.Raw(HttpUtility.HtmlDecode(item.Description.StripHtml()))</p>
                                <p><a class="btn btn-primary mb-xl" href="@Url.Action("Details", "Vacancies", new { id = item.Id })">@Resources.Resources.Apply</a></p>
                            </div>
                        </section>
                    }
                </div>
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, keywordFilter = ViewBag.KeywordFilter, deptIdFilter = ViewBag.DeptId, jobTypeIdFilter = ViewBag.JobTypeId, statusIdFilter = ViewBag.StatusId }))
            </div>
            <!-- /LEFT COLUMNS -->
            <!-- RIGHT COLUMNS -->
            <div class="col-md-3 col-sm-3 col-md-pull-9 col-sm-pull-9">
                <h4>@Resources.Resources.Search</h4>
                @using (Html.BeginForm("Index", "Vacancies", FormMethod.Post))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBox("keywordFilter", ViewBag.KeywordFilter as string, new { @class = "form-control", @placeholder = Resources.Resources.Keywords })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.DropDownList("deptIdFilter", new SelectList(ViewBag.DeptIdFilter, "Value", "Text"), Resources.Resources.ChooseDepartment, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.DropDownList("jobTypeIdFilter", new SelectList(ViewBag.JobTypeIdFilter, "Value", "Text"), Resources.Resources.ChooseJobType, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.DropDownList("statusIdFilter", new SelectList(ViewBag.StatusIdFilter, "Value", "Text"), Resources.Resources.ChooseStatus, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="@Resources.Resources.Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /RIGHT COLUMNS -->
</section>
