@model cutecms_porto.Areas.Identity.Models.DBModel.IdentityDepartmentTerm
@{
    ViewBag.MainTitle = Resources.Resources.Term;
    ViewBag.Title = Resources.Resources.Details;
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        @if (Model.IconPath != null)
            {
            <dd>
                <img height="57" width="43" class="img-responsive" alt="@Model.IconPath" src="@Model.IconPath">
            </dd>
        }
        else
        {
            <dd>
                @Html.Display(Resources.Resources.NotAvailable)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        @if (Model.ImagePath != null)
        {
            <dd>
                <img height="180" width="360" class="img-responsive" alt="@Model.ImagePath" src="@Model.ImagePath">
            </dd>
        }
        else
        {
            <dd>
                @Html.Display(Resources.Resources.NotAvailable)
            </dd>
        }
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.HomeVisible)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Resources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Resources.Resources.BackToList, "Index", new { id = Model.DepartmentId })
</p>
