@model cutecms_porto.Areas.Identity.Models.DBModel.Employee

<!-- PERSONAL INFO TAB -->
@using (Html.BeginForm("Manage", "MyProfile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    if (Model != null)
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LoginId)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LoginId)
        @Html.HiddenFor(model => model.LanguageId)
        @Html.HiddenFor(model => model.PersonalTitleId)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.MiddleName)
        @Html.HiddenFor(model => model.LastName)

        @Html.HiddenFor(model => model.PersonalPhotoPath)
        @Html.HiddenFor(model => model.PersonalPhotoName)

        @Html.HiddenFor(model => model.Biography)
        @Html.HiddenFor(model => model.ResumeFilePath)
        @Html.HiddenFor(model => model.ResumeFileName)

        @Html.HiddenFor(model => model.OfficeNumber)
        @Html.HiddenFor(model => model.Mobile)
        @Html.HiddenFor(model => model.LandLine)
        @Html.HiddenFor(model => model.Extension)
        @Html.HiddenFor(model => model.FacebookUrl)
        @Html.HiddenFor(model => model.TwitterUrl)
        @Html.HiddenFor(model => model.YouTubeUrl)
        @Html.HiddenFor(model => model.GooglePlusUrl)
        @Html.HiddenFor(model => model.LinkedInUrl)

        @Html.HiddenFor(model => model.TranslationId)
    }

    <form role="form" action="#" method="post">
        @if (Model.RankId != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.RankId)
                @Html.DropDownList("RankId", null, string.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RankId, "", new { @class = "text-danger" })
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.DegreeId)
            @Html.DropDownList("DegreeId", null, string.Empty, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DegreeId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProgramId)
            @Html.DropDownList("ProgramId", null, string.Empty, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
        </div>
        <div class="margiv-top10">
            <button type="submit" name="submit" value="AcademicInfo" class="btn btn-primary">@Resources.Resources.Save</button>
        </div>
        <div class="form-group">
            <br />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    </form>
}