@model cutecms_porto.Areas.Identity.Models.DBModel.Employee

<!-- PERSONAL INFO TAB -->
@using (Html.BeginForm("Manage", "MyProfile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (Model != null)
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LoginId)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LoginId)
        @Html.HiddenFor(model => model.LanguageId)
        @Html.HiddenFor(model => model.PersonalTitleId)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.MiddleName)
        @Html.HiddenFor(model => model.LastName)

        @Html.HiddenFor(model => model.PersonalPhotoPath)
        @Html.HiddenFor(model => model.PersonalPhotoName)

        @Html.HiddenFor(model => model.RankId)
        @Html.HiddenFor(model => model.DegreeId)
        @Html.HiddenFor(model => model.ProgramId)

        @Html.HiddenFor(model => model.Biography)
        @Html.HiddenFor(model => model.ResumeFilePath)
        @Html.HiddenFor(model => model.ResumeFileName)

        @Html.HiddenFor(model => model.TranslationId)
    }
    <form role="form" action="#" method="post">
        <div class="form-group">
            @Html.LabelFor(model => model.OfficeNumber)
            @Html.EditorFor(model => model.OfficeNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OfficeNumber, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mobile)
            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LandLine)
            @Html.EditorFor(model => model.LandLine, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LandLine, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Extension)
            @Html.EditorFor(model => model.Extension, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Extension, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FacebookUrl)
            @Html.EditorFor(model => model.FacebookUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FacebookUrl, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TwitterUrl)
            @Html.EditorFor(model => model.TwitterUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TwitterUrl, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.YouTubeUrl)
            @Html.EditorFor(model => model.YouTubeUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.YouTubeUrl, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GooglePlusUrl)
            @Html.EditorFor(model => model.GooglePlusUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GooglePlusUrl, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LinkedInUrl)
            @Html.EditorFor(model => model.LinkedInUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LinkedInUrl, "", new { @class = "text-danger" })
        </div>
        <div class="margiv-top10">
            <button type="submit" name="submit" value="ContactInfo" class="btn btn-primary">@Resources.Resources.Save</button>
            @if (Model != null)
            {
                @Html.ActionLink(Resources.Resources.Delete, "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
            }
        </div>
        <div class="form-group">
            <br />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    </form>
}