@model IEnumerable<cutecms_porto.Areas.Identity.Models.DBModel.Employee>
@using cutecms_porto.Areas.Identity.Models;
@using System.Threading
@{
    ViewBag.Title = Resources.Resources.Translations;
    ApplicationDbContext dbIdentity = new ApplicationDbContext();
}
@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                    <h2>@Resources.Resources.Index</h2>
                </div>
            </div>
        </div>
    </section>
}
<section>
    <div class="container">
        <!-- RIGHT -->
        <div class="col-lg-9 col-md-9 col-sm-8 col-lg-push-3 col-md-push-3 col-sm-push-4 margin-bottom-80">
            <ul id="tabbed-list" class="nav nav-tabs nav-top-border">
                <li class="active"><a data-toggle="tab">@Resources.Resources.Translations</a></li>
            </ul>
            <div class="tab-content margin-top-20">
                <p>
                    @Html.ActionLink(Resources.Resources.AddTranslation, "Manage", new { translationId = ViewBag.TranslationId })
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LanguageId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LoginId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Language.Name)
                            </td>
                            @if (dbIdentity.Users.Find(item.LoginId) != null)
                            {
                                <td>
                                    @dbIdentity.Users.Find(item.LoginId).UserName
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span>@Resources.Resources.NotAvailable</span>
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-2x fa-times", @title = Resources.Resources.Delete })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <!-- LEFT -->
        @Html.Partial("_MyProfile");
    </div>
</section>