@model cutecms_porto.Areas.Identity.Models.DBModel.EmpInDept
@using System.Threading
@{
    ViewBag.MainTitle = Resources.Resources.EmpInDepts;
    ViewBag.Title = Resources.Resources.Delete;
}
<h3>@Resources.Resources.DeleteConfirmation</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeptId)
        </dt>
        <dd>
            @{ var department = Model.Department.DepartmentTerms.Where(p => p.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && p.DepartmentId == Model.DeptId).FirstOrDefault()?.Value ?? Model.Department.Code;}
            @department
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OccupationId)
        </dt>
        <dd>
            @{ var occupation = Model.Occupation.OccupationTerms.Where(p => p.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && p.OccupationId == Model.DeptId).FirstOrDefault()?.Value ?? Model.Occupation.Code;}
            @occupation
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd>
            @{ var employeeType = Model.EmployeeType.EmployeeTypeTerms.Where(p => p.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name) && p.EmployeeTypeId == Model.DeptId).FirstOrDefault()?.Value ?? Model.EmployeeType.Code;}
            @employeeType
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ordinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeType.Ordinal)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("LanguageId")
        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Resources.Delete class="btn btn-primary" /> |
            @Html.ActionLink(Resources.Resources.BackToList, "Index", new { deptId = Model.DeptId, languageId = ViewBag.LanguageId })
        </div>
    }
</div>