@model cutecms_porto.Areas.CMS.Models.EditImageWithTagsViewModel
@{
    ViewBag.MainTitle = Resources.Resources.Image;
    ViewBag.Title = Resources.Resources.Edit; ;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ImageFile.Id)
        @Html.HiddenFor(model => model.ImageFile.FilePath)
        @Html.HiddenFor(model => model.ImageFile.ThumbPath)
        @Html.HiddenFor(model => model.ImageFile.CreatedOn)
        @Html.HiddenFor(model => model.ImageFile.MIME, new { id = "CreatedOn" })
        <div class="form-group">
            @Html.LabelFor(model => model.ImageFile.GalleryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ImageFile.GalleryId, ViewBag.GalleryId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImageFile.GalleryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageFile.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageFile.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageFile.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageFile.Ordinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageFile.Ordinal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageFile.Ordinal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageFile.CreatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageFile.CreatedOn, null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
            <div class="col-sm-5">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.Resources.Save class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink(Resources.Resources.BackToList, "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval") NOT WORKING*@ 
}