@model cutecms_porto.Areas.RMS.Models.NotificationViewModel
@{
    ViewBag.Title = Resources.Resources.Acknowledgement;
}
@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>
}
    <div class="container text-justify">
        <h4>@Resources.Resources.ApplicationNumber <span style="color:red;font-weight:bold">@Model.ApplicationNumber</span></h4>
        @if (!string.IsNullOrEmpty(Model.Body))
        {
            <p class="bold">@Resources.Resources.Dear @Model.FullName,</p>
            @Html.Raw(HttpUtility.HtmlDecode(Model.Body))
        }
        <br />
        @Html.ActionLink(Resources.Resources.BackToList, "Index", "Vacancies")
    </div>

