@model cutecms_porto.Areas.RMS.Models.DBModel.Vacancy
@using System.Threading
@using cutecms_porto.Areas.RMS.Models.DBModel
@{
    ViewBag.Title = Resources.Resources.Careers;
    Layout = "~/Views/Shared/_Layout.cshtml";
    RMSEntities db = new RMSEntities();
}
@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>
}
<div class="container">
    <h3 class="heading-primary">@Model.Title</h3>
    <div class="row text-justify">
        <div class="col-md-12">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="fa fa-file-text"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-none">@Resources.Resources.Description</h4>
                    <p class="tall">@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</p>
                </div>
            </div>
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="fa fa-list-ol"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-none">@Resources.Resources.Requirements</h4>
                    <p class="tall">@Html.Raw(HttpUtility.HtmlDecode(Model.Requirements))</p>
                </div>
            </div>
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="fa fa-folder-open"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-none">@Resources.Resources.Documents</h4>
                    <p class="tall">@Html.Raw(HttpUtility.HtmlDecode(Model.Documents))</p>
                </div>
            </div>
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="fa fa-check-square"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-none">@Resources.Resources.Skills</h4>
                    <p class="tall">@Html.Raw(HttpUtility.HtmlDecode(Model.Skills))</p>
                </div>
            </div>
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="fa fa-id-card-o"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-none">@Resources.Resources.JobType</h4>
                    @{
                        string jobTypeName = TermsHelper.JobTypes().Where(j => j.JobTypeId == Model.JobTypeId).FirstOrDefault()?.Value ?? db.JobTypes.Where(j => j.Id == Model.JobTypeId).FirstOrDefault().Code;
                        <p class="tall">@jobTypeName</p>
                    }
                </div>
            </div>
            @if (Model.VacancyDegrees.Count() > 0)
            {
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="feature-box-info">
                        <h4 class="mb-none">@Resources.Resources.Degree</h4>
                        @foreach (var degree in Model.VacancyDegrees)
                        {
                            string degreeName = TermsHelper.Degrees().Where(d => d.DegreeId == degree.DegreeId).FirstOrDefault()?.Value ?? db.RMSDegrees.Where(d => d.Id == degree.DegreeId).FirstOrDefault().Code;
                            <p class="tall">@degreeName</p>
                        }
                    </div>


                </div>
            }
            @if (Model.VacancyRanks.Count() > 0)
            {
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="mb-none">@Resources.Resources.Rank</h4>
                        @foreach (var rank in Model.VacancyRanks)
                        {
                            string rankName = TermsHelper.Ranks().Where(d => d.RankId == rank.RankId).FirstOrDefault()?.Value ?? db.RMSRanks.Where(d => d.Id == rank.RankId).FirstOrDefault().Code;
                            <p class="tall">@rankName</p>
                        }
                    </div>
                </div>

            }
            @if (Model.Notes != null)
            {
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="fa fa-sticky-note"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="mb-none">@Resources.Resources.Notes</h4>
                        <p class="tall">@Html.Raw(HttpUtility.HtmlDecode(Model.Notes))</p>
                    </div>
                </div>
            }

            @if (Model.ExpiredOn != null)
            {
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="mb-none">@Resources.Resources.ExpiredOn</h4>
                        <p class="tall">@Model.ExpiredOn</p>
                    </div>
                </div>
            }
            <div class="form-group">
                <a class="btn btn-primary mb-xl" href="@Url.Action("Apply", "Careers", new { id = Model.Id })">@Resources.Resources.ApplyNow</a>
                <a class="btn btn-primary mb-xl" href="@Url.Action("Index", "Careers")"><i class="fa fa-arrow-left"></i> @Resources.Resources.BackToList</a>
            </div>
        </div>
    </div>


</div>
