@using cutecms_porto.Areas.Config.Models.DBModel
@using cutecms_porto.Helpers
@using System.Threading
@{
    var organizations = (List<Organization>)HttpRuntime.Cache["Organizations"];
    var organization = organizations.Where(o => o.Language.CultureName.Trim().Equals(Thread.CurrentThread.CurrentCulture.Name)).FirstOrDefault();

}
<!DOCTYPE html>
<html lang="@cutecms_porto.Helpers.CultureHelper.GetCurrentNeutralCulture()" dir="@(cutecms_porto.Helpers.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />
    <title>@ViewBag.Title - @(organization?.Name)</title>
    <!-- CSS -->
    <link href="~/assets/admin/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*@Styles.Render("~/bundles/root-css" + (cutecms_porto.Helpers.CultureHelper.IsRighToLeft() ? "-rtl" : ""))*@
    <link href="~/assets/identity/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/identity/identity.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @if (cutecms_porto.Helpers.CultureHelper.IsRighToLeft())
    {
        <link href="~/assets/identity/bootstrap-rtl.min.css" rel="stylesheet" />
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css" />
        <style>
            .dropdown-menu {
                right: 0px !important;
                left: auto !important;
            }
        </style>
    }
    else
    {
        <style>
            .dropdown-menu {
                right: auto !important;
                left: 0px !important;
            }

            .form-top-left {
                float: right;
                width: 75%;
                padding-top: 25px;
            }

            .form-top-right {
                float: left;
                width: 10%;
                padding-top: 5px;
                font-size: 66px;
                color: #fff;
                line-height: 100px;
                text-align: right;
                opacity: 0.3;
            }
        </style>
    }
    <style>
        .top-100 {
            top: 100px;
        }
    </style>
</head>
<body class="body-top">
    <div>
        <!-- Navbar Menu -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" style="margin:0 1px 0 1px;" id="bs-example-navbar-collapse-1">
                    <div>
                        <ul class="nav navbar-nav">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                    <div>
                        <ul class="nav navbar-nav  @(CultureHelper.IsRighToLeft() ? "navbar-left" : "navbar-right")">
                            @if (organization != null)
                            {
                                foreach (var item in organization.SocialNetworks)
                                {
                                    <li>
                                        <span class="li-social">
                                            <a href="@item.Url"><i class="fa @item.CssClass"></i></a>
                                        </span>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="wrap">
            <div class="container body-content">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box top-100">
                        <div class="form-top">
                            <div class="form-top-left" @(cutecms_porto.Helpers.CultureHelper.IsRighToLeft() ? "style=text-align:right" : "style=text-align:left")>
                                <h3>@ViewBag.MainTitle</h3>
                                <p>@ViewBag.SubTitle</p>
                            </div>
                            <div class="form-top-right">
                                <i class='@ViewBag.IconTitle'></i>
                            </div>
                        </div>
                        <div class="form-bottom" style="padding-top:5px;padding-bottom:5px">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                @RenderSection("SocialLinks", required: false)
            </div>
        </div>
    </div>
    <div style="margin: 0; padding: 0; left: 0; top: 0; width: 100%; position: fixed; z-index: -999999;"><img style="margin: 0; padding: 0; border: medium; left: 0; width: 100%; height: 960px; position: absolute; z-index: -999999; max-height: none; max-width: none;" src="~/assets/identity/images/login-bg.jpg"></div>
    <script src="~/assets/porto/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/admin/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
