@using Microsoft.AspNet.Identity
@using cutecms_porto.Areas.Config.Models.DBModel
@using System.Globalization
@using System.Threading
@{
    ConfigEntities configDB = new ConfigEntities();
    CultureInfo cultureInfo = Thread.CurrentThread.CurrentCulture;
    RegionInfo regionInfo = new RegionInfo(cultureInfo.LCID);
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "Identity", returnUrl = HttpContext.Current.Request.Url.AbsolutePath }, FormMethod.Post, new { id = "logoutForm", style = "margin:0" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-globe fa-1x"></span> <span>@Resources.Resources.Language</span> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var item in configDB.ConfigLanguages.Where(l => l.IsEnabled == true).OrderByDescending(l => l.IsDefault).ThenBy(l => l.Ordinal))
                    {
                        CultureInfo itemCultureInfo = CultureInfo.CreateSpecificCulture(item.CultureName.Trim());
                        RegionInfo itemRegionInfo = new RegionInfo(itemCultureInfo.LCID);
                        <li><a href="@Url.RouteUrl(new RouteValueDictionary(ViewContext.RouteData.Values.ToDictionary(r => r.Key, r => r.Key == "culture" ? item.CultureName.Trim() : r.Value)))"><img src="~/assets/identity/images/blank.gif" class="flag flag-@item.FlagCode" alt="@itemRegionInfo.NativeName"> @itemRegionInfo.NativeName</a></li>
                    }

                </ul>
            </li>
            <li>
                @Html.ActionLink(Resources.Resources.Hello + " " + User.Identity.GetUserName().Substring(0, User.Identity.GetUserName().LastIndexOf("@")).ToUpper() + " !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resources.LogOff</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-globe fa-1x"></span> <span>@Resources.Resources.Language</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @foreach (var item in configDB.ConfigLanguages.Where(l => l.IsEnabled == true).OrderByDescending(l => l.IsDefault).ThenBy(l => l.Ordinal))
                {
                    CultureInfo itemCultureInfo = CultureInfo.CreateSpecificCulture(item.CultureName.Trim());
                    RegionInfo itemRegionInfo = new RegionInfo(itemCultureInfo.LCID);
                    <li><a href="@Url.RouteUrl(new RouteValueDictionary(ViewContext.RouteData.Values.ToDictionary(r => r.Key, r => r.Key == "culture" ? item.CultureName.Trim() : r.Value)))"><img src="~/assets/identity/images/blank.gif" class="flag flag-@item.FlagCode" alt="@itemRegionInfo.NativeName"> @itemRegionInfo.NativeName</a></li>
                }
            </ul>
        </li>
        <li>@Html.ActionLink(Resources.Resources.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Resources.LogOn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}